.row
  .medium-12.small-centered.columns
    .oss-credits
      Built with
      %i.fa.fa-heart
      +
      %a{href: 'http://foundation.zurb.com'}Foundation
      %span>,&nbsp;
      -# Workaround to avoid a whitespace before the comma
      %a{href: 'http://rubyonrails.org'}Ruby on Rails
      %span>,&nbsp;
      %a{href: 'https://docker.io'}Docker
      %span>,&nbsp;
      %a{href: 'http://nginx.org'}nginx
      %span>,&nbsp;
      %a{href: 'http://puma.io'}Puma
      &
      %a{href: 'http://fontawesome.io'}Font Awesome
