.navlinks
  .row
    .medium-10.large-centered.columns
      .navlinks__row-wrapper
        .row
          .medium-4.columns
            %a{href: root_path}
              %i.fa.fa-5x.fa-home
          .medium-4.columns
            %a{href: about_path}
              %i.fa.fa-5x.fa-question
          .medium-4.columns
            %a{href: contact_path}
              %i.fa.fa-5x.fa-envelope
      .navlinks__row-wrapper
        .row
          .medium-4.columns
            %a{href: 'https://github.com/coaxial'}
              %i.fa.fa-5x.fa-github
          .medium-4.columns
            %a{href: 'https://www.linkedin.com/in/pypouj'}
              %i.fa.fa-5x.fa-linkedin
          .medium-4.columns
            %a{href: 'https://twitter.com/pypouj'}
              %i.fa.fa-5x.fa-twitter
