-if flash[:notice]
  .alert-box.success
    %p
      =flash[:notice]

-if flash[:alert]
  .alert-box.alert
    %p
      =flash[:alert]
    -if flash[:errors]
      -flash[:errors].each do |error|
        %ul
          %li
            =error
