# Be sure to restart your server when you modify this file.

# Your secret key is used for verifying the integrity of signed cookies.
# If you change this key, all old signed cookies will become invalid!

# Make sure the secret is at least 30 characters and all random,
# no regular words or you'll be exposed to dictionary attacks.
# You can use `rake secret` to generate a secure secret key.

# Make sure the secrets in this file are kept private
# if you're sharing your code publicly.

development:
  secret_key_base: 0e67da4ac07c57f43d53ecf29afbf9dd31907d343512348970098977db8fbcf3b3a522bc3acf26f30f50dc86ffef443b0aeaafaef8d7041256ab113a9b9b0321

test:
  secret_key_base: ba7cc81c4a4bb64622fb1c4d572742163efe8217864dcdd41630d08cbb3e9e59ba537aecbf18ce2084fc6c970215da9fa18cf93d99963d77667be80151bf21ef

# Do not keep production secrets in the repository,
# instead read values from the environment.
production:
  secret_key_base:  <%= ENV["SECRET_KEY_BASE"] %>
  postmark_api_key: <%= ENV["POSTMARK_API_KEY"] %>
