.row
  .medium-7.large-centered.columns
    #intro
      #intro__greeting
        .row
          .medium-10.large-centered.columns
            .row
              .medium-12.columns
                .greeting__text
                  %h1 #{@greeting.capitalize}!
                  %h2 I'm Pierre-Yves Poujade
                  %h3 Ruby on Rails developer
                  .text__and
                    %h3 and
                  .text__rotator
                    .rotator__rotator
                      .rotator__statement
                        Lego fan
                      .rotator__statement
                        scuba diver
                      .rotator__statement
                        business administration graduate
                      .rotator__statement
                        human after all
                      .rotator__statement
                        up for a challenge
                      .rotator__statement
                        world traveller
                      .rotator__statement
                        intrepid optimizer
                      .rotator__statement
                        startup experienced

      #intro__links
        .row
          .medium-3.columns
            %a{href: 'https://github.com/coaxial'}
              %i.fa.fa-5x.fa-github
          .medium-3.columns
            %a{href: 'https://www.linkedin.com/in/pypouj'}
              %i.fa.fa-5x.fa-linkedin
          .medium-3.columns
            %a{href: '#about'}
              %i.fa.fa-5x.fa-question
          .medium-3.columns
            %a{href: '#contact'}
              %i.fa.fa-5x.fa-envelope
    #about
      .row
        .medium-12.columns
          %h2 Facts about me
      #about__bullets
        .row
          .medium-12.columns
            %ul
              %li
                You guys realize you live in a sewer, right?
              %li
                Hey! I'm a porno-dealing monster, what do I care what you think?
              %li
                Whoa a real live robot; or is that some kind of cheesy New Year's costume?
              %li
                Interesting. No, wait, the other thing: tedious.
              %li
                Kif might!

    #contact
      #writeme
        .row
          .medium-12.columns
            %h2 Contact me
        .row
          .medium-12.columns
            =render '/shared/show_flashes'
        .row
          .medium-6.columns
            %form#writeme__form{method: 'post', action: writeme_path, accept: {charset: 'UTF-8'}}
              .row
                .medium-12.columns
                  %label
                    Your name
                    %input#writeme__senderName{type: 'text', name: 'writeme[sender_name]'}

              .row
                .medium-12.columns
                  %label
                    Your email
                    %input#writeme__senderAddr{type: 'email', name: 'writeme[sender_addr]'}

              .row
                .medium-12.columns
                  %label
                    Your message
                  %textarea#writeme__senderMessage{type: 'text', name: 'writeme[sender_message]'}

              =hidden_field_tag :utf8, '✓'
              =hidden_field_tag :authenticity_token, form_authenticity_token

              .row
                .medium-12.columns
                  %button.button.expand.radius{type: 'submit', data: { disable_with: "#{loading_animation} Sending..." }}
                    Send
