.row
  .medium-offset-2.medium-8.columns
    #intro
      #intro__greeting
        .row
          .medium-12.columns
            %h1 #{@greeting.capitalize}!
            %h2 I'm Pierre-Yves Poujade,
            %h3 a Ruby on Rails developer
            .greeting__rotator
              %h3 who loves Lego
              %h3 and a scuba diver
              %h3 with a passion to build things
              %h3 who knows details matter
              %h3 enjoys learning
              %h3 who travelled around the world
              %h3 who likes making things better
              %h3 with previous startup experience
            %h3 currently living in Montréal.

      #intro__links
        .row
          .medium-3.columns
            %a See my Github
          .medium-3.columns
            %a Linked In
          .medium-3.columns
            %a About me
          .medium-3.columns
            %a Contact me
    #about
      .row
        .medium-12.columns
          %h2 About me
      #about__bullets
        .row
          .medium-12.columns
            %ul
              %li
                You guys realize you live in a sewer, right?
              %li
                Hey! I'm a porno-dealing monster, what do I care what you think?
              %li
                Whoa a real live robot; or is that some kind of cheesy New Year's costume?
              %li
                Interesting. No, wait, the other thing: tedious.
              %li
                Kif might!

    #contact
      #writeme
        .row
          .medium-12.columns
            %h2 Contact me
        .row
          .medium-12.columns
            =render '/shared/show_flashes'
        .row
          .medium-6.columns
            %form#writeme__form{method: 'post', action: writeme_path, accept: {charset: 'UTF-8'}}
              .row
                .medium-12.columns
                  %label
                    Your name
                    %input#writeme__senderName{type: 'text', name: 'writeme[sender_name]'}

              .row
                .medium-12.columns
                  %label
                    Your email
                    %input#writeme__senderAddr{type: 'email', name: 'writeme[sender_addr]'}

              .row
                .medium-12.columns
                  %label
                    Your message
                  %textarea#writeme__senderMessage{type: 'text', name: 'writeme[sender_message]'}

              =hidden_field_tag :utf8, '✓'
              =hidden_field_tag :authenticity_token, form_authenticity_token

              .row
                .medium-12.columns
                  %button.button.expand.radius{type: 'submit', data: { disable_with: "#{loading_animation} Sending..." }}
                    Send
