.intro
  %h1 #{@greeting.capitalize}!
  %h2 I'm Pierre-Yves Poujade,
  %h3 a Ruby on Rails developer
  %h3 living in Montréal.

  .intro__links
    %a See my Github
    %a Call me
    %a Write me
    %a Linked in

.callme
  %h2 Call me

.writeme
  %h2 Write me
  
