#intro.row
  #intro__greeting.row
    .medium-12.columns
      %h1 #{@greeting.capitalize}!
      %h2 I'm Pierre-Yves Poujade,
      %h3 a Ruby on Rails developer
      %h3 living in Montréal.

  #intro__links.row
    .medium-12.columns
      %a See my Github
      %a Call me
      %a Write me
      %a Linked in

#contact.row
  #callme.row
    .medium-12.columns
      %h2 Call me

  #writeme.row
    .medium-12.columns
      %h2 Write me
