.intro.section
  .intro__greeting
    .row
      .medium-10.large-centered.columns
        .row
          .medium-12.columns
            .greeting__title
              %h1 #{@greeting.capitalize}!
            .greeting__text
              .text__name
                %h2 I'm Pierre-Yves Poujade
              .text__desc
                %h3 Software developer
                %h3 and
              .text__rotator.green
                .rotator__rotator
                  .rotator__statement
                    Lego fan
                  .rotator__statement
                    scuba diver
                  .rotator__statement
                    business administration graduate
                  .rotator__statement
                    up for a challenge
                  .rotator__statement
                    world traveller
                  .rotator__statement
                    intrepid optimizer
                  .rotator__statement
                    startup experienced
                  .rotator__statement
                    %a{href: '#', data: {reveal: {id: 'daftpunk-modal'}}} human after all

#daftpunk-modal.reveal-modal{data: {reveal: true}}
  =render '/shared/daftpunk_modal'
