#intro
  #intro__greeting
    .row
      .medium-12.columns
        %h1 #{@greeting.capitalize}!
        %h2 I'm Pierre-Yves Poujade,
        %h3 a Ruby on Rails developer
        %h3 living in Montréal.

  #intro__links
    .row
      .medium-12.columns
        %a See my Github
        %a Call me
        %a Write me
        %a Linked in

#contact
  #callme
    .row
      .medium-12.columns
        %h2 Call me
    .row
      .medium-6.columns
        %form#callme__form
          .row
            .medium-12.columns
              %label
                Your phone number
                %input#callme__phoneNum{type: 'tel', placeholder: '(514) 555-1234'}

          .row
            .medium-12.columns
              %a.button.expand.radius
                Call now

  #writeme
    .row
      .medium-12.columns
        %h2 Write me
    .row
      .medium-6.columns
        %form#writeme__form
          .row
            .medium-12.columns
              %label
                Your name
                %input#writeme__senderName{type: 'text'}

          .row
            .medium-12.columns
              %label
                Your email
                %input#writeme__senderAddr{type: 'email'}

          .row
            .medium-12.columns
              %label
                Your message
              %textarea#writeme__senderMessage{type: 'text'}

          .row
            .medium-12.columns
              %a.button.expand.radius
                Send
